apiVersion: v2
name: mimir
description: Grafana Mimir
type: application
version: 5.8.0-bb.5
appVersion: 2.17.1
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/mimir/tree/main/operations/helm/charts/mimir-distributed
annotations:
  bigbang.dev/applicationVersions: |
    - mimir: '2.17.1'
  helm.sh/images: |
    - name: mimir
      image: registry1.dso.mil/ironbank/opensource/grafana/mimir:2.17.1
    - name: nginx
      image: registry1.dso.mil/ironbank/opensource/nginx/nginx:1.29.4
    - name: memcached
      image: registry1.dso.mil/ironbank/opensource/memcached/memcached:1.6.39
    - name: rollout-operator
      image: registry1.dso.mil/ironbank/opensource/grafana/rollout-operator:v0.29.0
    - name: enterprise-metrics
      image: registry1.dso.mil/ironbank/opensource/grafana/enterprise-metrics:v2.17.3
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream helm chart changelog and release notes here](https://github.com/grafana/mimir/blob/main/operations/helm/charts/mimir-distributed/CHANGELOG.md)
    - [Find upstream application changelog and release notes here](https://grafana.com/docs/mimir/latest/release-notes/)
dependencies:
  - name: mimir-distributed
    version: "5.8.0"
    repository: https://grafana.github.io/helm-charts
    alias: upstream
  - name: gluon
    version: "0.9.7"
    repository: oci://registry1.dso.mil/bigbang
  - name: bb-common
    version: "0.9.1"
    repository: oci://registry1.dso.mil/bigbang
  - name: minio-instance
    alias: minio-tenant
    version: 7.1.1-bb.15
    repository: oci://registry1.dso.mil/bigbang
    condition: minio-tenant.enabled