{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-alloy-ingress-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchExpressions:
      - { key: app.kubernetes.io/name, operator: In, values: ["mimir", "rollout-operator"] }
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
              - alloy-metrics
      namespaceSelector:
        matchLabels:
          app.kubernetes.io/name: alloy
    ports:
    - port: {{ index .Values "upstream" "mimir" "serverHttpListenPort" }}
    - port: {{ index .Values "upstream" "mimir" "serverGrpcListenPort" }}
{{- end }}

